.ui-img {
  position: relative;
  display: block;
  overflow: hidden;
  transition: all var(--t-d-fast) ease;

  .ui-img-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  .ui-img-image {
    pointer-events: none;
  }

  .ui-img-blur {
    filter: blur(16px);
    transform: scale(1.05);
    transition: opacity var(--t-d-fast) var(--t-t-f-ease);
    opacity: 1;
    z-index: 1;
  }

  .ui-img-blur-hidden {
    opacity: 0;
  }
}
